<div class="container">
  <h2 class="text-center">Obi-Wan 'Ben' Kenobi</h2>
  <div class="col-md-1 col-md-offset-1">
    <button class="btn btn-default" ng-click="decrementImg()"><i class="glyphicon
      glyphicon-triangle-left"></i>Prev</button>
  </div>
  <div class="col-md-8 screen">
    <img ng-src="..\images\ben\kenobi-{{imgNum}}.jpg" alt="Images of Obi-Wan"/>
    <p>Born long, long, ago in a galaxy far, far, away, Ben Kenobi made the struggle against the dark side of the Force a way of life. Although his efforts were often futile or even counterproductive, he stayed true to his cause right to the end - and beyond.</p>
  </div>
  <div class="col-md-1">
    <button class="btn btn-default" ng-click="incrementImg()">Next<i class="glyphicon
       glyphicon-triangle-right"></i></button>
  </div>
</div>
